@import '../utils/mixins';

/* ABOUT PAGE STYLE*/

/* MAIN ABOUT PAGE */
.main-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  @include MobileS{
    width: 94%;
  }
  @include MobileL{
    width: 88%;
  }
  @include Tab{
    width: 100%;

  }
  @include DesktopS {
    width: 90%;
    margin-top: 40px;
  }
  @include Desktop {
    margin-left: 100px;
    margin-right: 100px;
    width: 86%;

  }
  @include DesktopXL {
    width: 90%;
  }


//----COLLAPSES STYLES ABOUT PAGE ----/// 
}
.dropdownsAbout {
  width: 100%;
  
  @include Tab{
    width: 89%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include DesktopS {
    width: 80%;
  }
  @include Desktop{
    width: 77%;
  }
  @include DesktopXL {
    width: 84%;
    
  }
  .dropdown__open__description{
    height: 144px;
    padding-top: 1%;
    @include Tab{
      height: 166px;
    }
    @include DesktopS{
      height: 176px;
    }
    @include Desktop{
      height: 146%;
      padding-top: 2%;
    }
    @include DesktopXL{
    padding-top: 0;
    
    
    }
   
  }
  .dropdown__open__text{

    height: 156px;
   
    
    
    @include DesktopS{
      height: auto;
      font-size: 20px;
      padding-top: 2%;
    }
    @include Desktop{
      padding-top: 1%;
      height: 65%;
      font-size: 24px;
    }
    @include DesktopXL{
      font-size: 36px;
      margin-left: 1%;
     
    }
  }
 }
  
