@import '../utils/mixins';
@import '../utils/variables';

/* ERROR PAGE STYLES */
.error {
  width: 90%;
  height: 100%;
  text-align: center;
  @include DesktopS {
    width: 89%;
    margin-top: 80px;
  }
  /* 404 ERROR PAGE  */
  &__404 {
    font-size: 96px;
    font-weight: 700;
    line-height: 137px;
    letter-spacing: 0em;
    font-family: $main-font;
    color: $color-primary;
    margin-top: 50%;
    width: 100%;
    @include Tab {
      margin-top: 20%;
    }
    @include DesktopS {
      font-size: 148px;
      margin-bottom: 5%;
    }
    @include Desktop {
      font-size: 288px;
      margin-top: 15%;
      margin-bottom: 10%;
    }
    @include DesktopXL {
      font-size: 488px;
      margin-top: 20%;
      margin-bottom: 15%;
    }
  }
  /* TITLE ERROR PAGE*/
  &__title {
    margin: auto;
    height: 52px;
    width: 100%;
    left: 57px;
    top: 372px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    margin-bottom: 133px;

    @include Desktop {
      font-size: 36px;

      line-height: 52px;
      margin-bottom: 15%;
    }
    @include DesktopXL {
      font-size: 60px;
      margin-bottom: 20%;
    }
  }
  /* TEXT TO RETURN HOME ERROR PAGE*/
  &__backText {
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    font-family: $main-font;
    height: 20px;
    width: 100%;
    left: 76px;
    top: 557px;
    @include Desktop {
      font-size: 18px;
    }
    @include DesktopXL {
      font-size: 30px;
    }
  }
}
