@import '../utils/mixins';

/* HOME PAGE STYLES */

/* MAIN HOME PAGE*/
._body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 938px;
  width: 90%;
  position: absolute;
  top: 70px;

  @include MobileS {
    width: 94%;
    margin-left: 15px;
  }
  @include MobileL {
    width: 88%;
  }
  @include Tab {
    width: 90%;
  }
  @include DesktopS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    top: 90px;
  }
  @include Desktop {
    width: 86%;
    top: 130px;
  }

  @include DesktopXL {
    width: 90%;
    top: 190px;
  }
}
