@import '../utils/mixins';

.footer-about {
  margin-top: 100px;
  position: absolute;
  top: 860px;
}

.main-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include DesktopS{
        width: 920px;
        margin-top: 90px;
        margin-left: 23px;
    }
    @include Desktop{
        margin-top: 40px;
        margin-left: 100px;
        margin-right: 100px;
        width: 1240px
    }
    @include DesktopXL{
        width: 2310px;
        
       
    }
   

}
