@import '../utils/mixins';
@import '../utils/variables';

.details{
  &__main{
    height: auto;
    width: 335px;
    left: 20px;
    margin-top: 27px;
    margin-bottom: 100px;
    @include Desktop{
      width: auto;


    }
  }
  
}