@import '../utils/mixins';

/* _Body */

._body{
position: absolute;
width: 335
px;
height: 938px;
left: 0px;
top: 83px;
    @include Desktop{
        position: absolute;
        width: 86%;
        height: 1095px;
        left: 100px;
        top: 171px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/*
/* _Section 1 */
._Section1{
    position: absolute;
    width: 335px;
    height: 111px;
    left: 20px;
    top: 83px;
    height: 805px;
    width: 335px;
    left: 21px;
    top: 216px;
    border-radius: 0px;

}

/* Mask Group */
.MaskGroup{
    position: absolute;
    width: 335px;
    height: 111px;
    left: 20px;
    top: 83px;
}




/* Background */
.TitleBackground{
    position: absolute;
    width: 335px;
    height: 111px;
    left: 20px;
    top: 83px;
    background: #F7F7F7;
    border-radius: 10px;
}



/* IMG */
.Img{
    position: absolute;
    width: 345.27px;
    height: 962.17px;
    left: 20px;
    top: -331px;
    object-fit: cover;
    //background: url(eric-muhr-P_XxsdVgtpQ-unsplash.jpg);
}



/* Background */
.ImgBackground{
    position: absolute;
    width: 335px;
    height: 111px;
    left: 20px;
    top: 83px;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: 10px;
}



/* Chez vous, partout et ailleurs */
.TitleHome{
    position: absolute;
    left: 9.6%;
    right: 32.53%;
    top: 14.04%;
    bottom: 80.05%;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    /* or 24px */

    display: flex;
    align-items: flex-end;

    color:#FFFFFF;
}




/* _Section 2 */
._Section2{
    position: absolute;
    width: 335px;
    height: 805px;
    left: 21px;
    top: 216px;
    
}




/* .Thumb */
/*
position: absolute;
width: 335px;
height: 255px;
left: 21px;
top: 216px;



/* Img */
/*
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FF6060;
border-radius: 10px;


/* Rectangle 2 */
/*
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
border-radius: 10px;


/* Titre de la location */
/*
position: absolute;
left: 5.88%;
right: 5.88%;
top: 73.73%;
bottom: 5.88%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* or 26px */
/*
display: flex;
align-items: flex-end;

color: #FFFFFF;



/* .Thumb */
/*
position: absolute;
width: 335px;
height: 255px;
left: 21px;
top: 491px;



/* Img */
/*
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FF6060;
border-radius: 10px;


/* Rectangle 2 */
/*
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
border-radius: 10px;


/* Titre de la location */
/*
position: absolute;
left: 5.88%;
right: 5.88%;
top: 73.73%;
bottom: 5.88%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* or 26px */
/*
display: flex;
align-items: flex-end;

color: #FFFFFF;



/* .Thumb */
/*
position: absolute;
width: 335px;
height: 255px;
left: 21px;
top: 766px;



/* Img */
/*
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FF6060;
border-radius: 10px;


/* Rectangle 2 */
/*
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
border-radius: 10px;


/* Titre de la location */
/*
position: absolute;
left: 5.88%;
right: 5.88%;
top: 73.73%;
bottom: 5.88%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* or 26px */
/*
display: flex;
align-items: flex-end;

color: #FFFFFF;



/* _Header-m */
/*
position: absolute;
width: 335px;
height: 47px;
left: 20px;
top: 20px;



/* .LOGO */
/*
position: absolute;
left: 0%;
right: 56.72%;
top: 0%;
bottom: 0%;



/* Vector */
/*
position: absolute;
left: 0%;
right: 88.82%;
top: 0%;
bottom: 8.45%;

background: #FF6060;


/* Vector */
/*
position: absolute;
left: 24.45%;
right: 67.44%;
top: 21.53%;
bottom: 7.89%;

background: #FF6060;


/* Vector */
/*
position: absolute;
left: 34.87%;
right: 56.72%;
top: 21.25%;
bottom: 7.9%;

background: #FF6060;


/* Group */
/*
position: absolute;
left: 12.39%;
right: 78.13%;
top: 21.53%;
bottom: 0%;



/* Vector */
/*
position: absolute;
left: 18.84%;
right: 80.06%;
top: 68.66%;
bottom: 8.17%;

background: #FF6060;


/* Vector */
/*
position: absolute;
left: 12.39%;
right: 78.13%;
top: 21.53%;
bottom: 0%;

background: #FF6060;


/* _NAV */
/*
position: absolute;
left: 58.21%;
right: 0%;
top: 38.3%;
bottom: 25.53%;



/* A PROPOS */
/*
position: absolute;
left: 78.81%;
right: 0%;
top: 38.3%;
bottom: 25.53%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 142.6%;
/* or 17px */
/*
display: flex;
align-items: flex-end;
text-align: right;

color: #FF6060;



/* ACCUEIL */
/*
position: absolute;
left: 58.21%;
right: 24.18%;
top: 38.3%;
bottom: 25.53%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 142.6%;
/* or 17px *//*
display: flex;
align-items: flex-end;
text-align: right;
text-decoration-line: underline;
color: #FF6060;


*/
