
.D-404{
    position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;
}

.error{
position: absolute;
width: 597px;
height: 263px;
left: 432px;
top: 277px;
    
}
.img{
    position: absolute;
    width: 597px;
    height: 263px;
    left: 432px;
    top: 277px;
    }
.error-h1{
position: absolute;
left: 20.49%;
right: 18.96%;
top: 59.18%;
bottom: 35.84%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 142.6%;
/* or 51px */

display: flex;
align-items: flex-end;

color: #FF6060;
}

.error-p{
    position: absolute;
left: 40.14%;
right: 40.14%;
top: 81.93%;
bottom: 15.53%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* identical to box height, or 26px */

display: flex;
align-items: flex-end;
text-decoration-line: underline;

color: #FF6060;
}


