@import '../utils/mixins';

.carousel {
  width: 335px;
  height: 255px;
  left:20px;
  top: 8px;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  &__img {
    position: relative;
    height: 255px;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%) saturate(140%);
    transition: 0.3s;
    &:hover {
      filter: brightness(100%) saturate(100%);
      transition: 0.3s;
    }
    @include Desktop {
      width: 340px;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    left: 24px;
    top: 140px;
    z-index: 1;
    background-color: transparent;
    border: none;
    z-index: 2;
    &__Left {
      z-index: 2;
      margin-right: -24px;
      @include Desktop {
        top: 200px;
      }
    }
    &__Right {
      z-index: 1;
      margin-left: -24px;

      @include Desktop {
        top: 200px;
        left: 305px;
      }
    }
    > svg {
      height: 20px;
      width: 12px;
      left: 17.5px;
      top: 22px;
      color: #FFFFFF;
    }
    @include Desktop {
      font-size: 20px;
    }
  }
}
