@import '../utils/mixins';

.carousel {
   width: 335px;
   height: auto;
   position: relative;
   border-radius: 10px;
  &__img {
    position: relative;
    height: 255px;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%) saturate(140%);
    transition: 0.3s;
    &:hover {
      filter: brightness(100%) saturate(100%);
      transition: 0.3s;
    }
    @include Desktop {
      width: 340px;
    }
  }
  &__button {
   display: flex;
    height: 24x;
    width: 24px;
    left: 24px;
    top: 140px;
    border-radius: 0px;

    z-index: 2;
    &__Left {
      left: 5px;
      top: 130px;
      z-index: 2;
      @include Desktop {
        top: 200px;
      }
    }
    &__Right {
      left: 299px;
      top: 130px;
      z-index: 2;
      @include Desktop {
        top: 200px;
        left: 305px;
      }
    }
    > svg {
      font-size: 20px;
    }
    @include Desktop {
      font-size: 20px;
    }
  }
}
