@import '../utils/mixins';

.singleLocation{

    &__title{
        height: 46px;
        width: 335px;
        left: 20px;
        top: 364px;
        border-radius: nullpx;
        
    }
    &__location{
        height: 22px;
        width: 323px;
        left: 20px;
        top: 415px;
        border-radius: nullpx;
        
    }
    &__tags{
        
    }
    &__rating{
        height: 18px;
        width: 98px;
        left: 20px;
        top: 489px;
        border-radius: 0px;
        >svg{
            height: 15px;
            width: 15px;
            left: 1.5px;
            top: 1.5px;
            border-radius: 0px;

        }


    }
    
}
.host{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33px;
    width: 135.5px;
    left: 219px;
    top: 481px;
    &__name{
        display: flex;
        flex-wrap: wrap;
        height: 33px;
        width: 40px;
        left: 0px;
        top: 0px;
       
        
    }
    >img{
        height: 32px;
        width: 32px;
        left: 103.5px;
        top: 0.5px;
      
        border-radius: 50%;
       
        background: #C4C4C4;

    }
}