@import '../utils/variables';

.star {
    height: 18px;
    width: 98px;
    display: flex;
    padding-left: 0;
    &__completed {
       color: $color-primary;
    }
    &__noCompleted {
       color: $color-tertiary;
    }
    &__noCompleted,
    &__completed {
       > svg {
        height: 15px;
        width: 15px;
        left: 1.5px;
        top: 1.5px; 

       }
    }
 }