@import '../utils/variables';
@import '../utils/mixins';
.tag{
    text-align: center;
    color: white;
    height: 25px;
    border-radius: 5px;
    padding: 0px 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: $color-primary;
    
    &__text{
        color: $color-secondary;
        font-size: 10px;  
        @include Desktop{
            font-size: 14px;
        }
    }
    
}