@import '../utils/variables';
@import '../utils/mixins';
.tag {
  text-align: center;
  color: white;
  height: 25px;
  border-radius: 5px;
  padding: 0px 15px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: $color-primary;
  height: 18px;
  width: 84px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  @include Desktop {
    height: 25px;
    width: 115px;
    left: 0px;
    top: 0px;
    border-radius: 10px;
    padding: 0px 30px;
  }

  &__text {
    color: $color-secondary;
    font-size: 10px;
    text-transform: none;
    @include Desktop {
      font-size: 14px;
    }
  }
}
