@import '../utils/mixins';

/*CAROUSEL*/
.carousel {
  width: 100%;
  height: 255px;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  @include MobileS {
    width: 100%;
  }
  @include Desktop {
    height: 415px;

    left: 14px;
    top: 98%;
  }
  @include DesktopXL {
    height: 760px;
  }
  /*IMG CAROUSEL*/
  &__img {
    position: relative;
    height: 255px;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    border-radius: 10px;

    @include Desktop {
      width: 100%;
      height: 100%;
    }
    @include DesktopXL {
      height: 100%;
    }
  }
  /*PAGINATION CAROUSEL*/
  &__bulletpoint {
    display: none;
    @include DesktopS {
      display: flex;
      position: absolute;
      top: 90%;
      font-size: 14px;
      text-shadow: 1px 2px 5px #000000;
      z-index: 2;
      text-align: center;
      color: white;
      left: 50%;
    }
    @include Desktop {
      display: flex;
      position: absolute;
      top: 90%;
      font-size: 18px;
      text-shadow: 1px 2px 5px #000000;
      z-index: 2;
      text-align: center;
      color: white;
      left: 50%;
    }
    @include DesktopXL {
      font-size: 36px;
    }
  }
  /*BUTTON CAROUSEL*/
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    left: 24px;
    top: 140px;
    z-index: 1;
    background-color: transparent;
    border: none;
    z-index: 2;
    @include DesktopS{
      width: 30px;

    }
    /*CHEVRON LEFT BUTTON CAROUSEL*/
    @include DesktopXL {
      height: 120px;
      width: 68px;
    }
    &__Left {
      z-index: 2;
      margin-right: -24px;
      @include DesktopS{
        margin-right: -36px;
      }
      @include Desktop {
        top: 200px;
        margin-right: -45px;
      }
      @include DesktopXL {
        margin-right: -85px;
      }
    }
    /*CHEVRON RIGHT BUTTON CAROUSEL*/
    &__Right {
      z-index: 1;
      margin-left: -24px;
      @include DesktopS{
        margin-left: -36px;
      }
      @include Desktop {
        top: 200px;
        left: 305px;
        margin-left: -45px;
      }
      @include DesktopXL {
        margin-left: -85px;
      }
    }
    /*CHEVRON SVG CAROUSEL*/
    > svg {
      height: 20px;
      width: 20px;
      left: 17.5px;
      top: 22px;
      color: #ffffff;
      @include MobileL{
        width: 25px;
        height: 25px;
      }
      @include Tab{
        height: 30px;
        width: 37px;
      }
      @include DesktopS{
        height: 49px;
        width: 47px;
      }
      @include Desktop {
        height: 79px;
        width: 47px;
      }
      @include DesktopXL {
        height: 115px;
        width: 100px;

      }
    }
  }
}
