@import '../utils/mixins';
@import '../utils/variables';

/* THUMB  CARDS */ 
.Thumb {
   @include Tab{
    height: 100%;
    width: 48%;
   }
    @include DesktopS {
        height: 100%;
        width: 33%;
        }
    &__Rectangle2 {
          /*BACKGROUND CARDS*/ 
        background: $background-Gradient;
        position: relative;
        height: 255px;
        overflow: hidden;
        width: 335px;
        border-radius: 10px;
        margin: 20px 0;
        z-index: 2;
        @include MobileS{
            width: 300px;
        }
        @include MobileL{
            width: 375px;
        }
        @include Tab{
            width: 100%;
        }
        @include DesktopS{
            width: 240px;
            height: 240px;
        }
        @include Desktop{
            width: 340px;
            height: 340px;
        }
        @include DesktopXL{
            height: 540px;
            width: 540px;
        }
        
        }
    
    &__imgLogement{
        /* IMG LOGEMENT CARDS*/  
        position: relative;
        height: 255px;
        width: 335px;
        z-index: 1;
        object-fit: cover;
        border-radius: 10px;
        filter: bottoms brightness(70%) saturate(140%);
        background: $background-Gradient;
        transition: 0.3s;
        &:hover {
            filter: brightness(100%) saturate(100%);
            transition: 0.3s;
        }
        @include DesktopS{
            width: 300px;
        }
        @include MobileL{
            width: 375px;
        }
        @include Desktop{
            height: 340px;
            width: 340px;
        }
        @include DesktopXL{
            height: 540px;
            width: 540px;
        }
    }
    &__titleLocation {
        width: 92%;
        height: 52px;
        color: $color-white;
        z-index: 2;
        font-size: 18px;
        font-weight: 500;
        line-height: 142.6%;
        display: flex;
        align-items: flex-end;
        border-radius: 10px;
        position: absolute;
        left: 5.88%;
        right: 5.88%;
        top: 73.73%;
        bottom: 5.88%;
        

        @include DesktopXL{
            width: 390px;
            font-size: 24px;
        }
        }
        
    
 }


