@import '../utils//mixins';

/*Collapse Component DROPDOWNS*/
.dropdown {
  height: 30px;
  width: 100%;
  left: 20px;
  top: 326px;
  border-radius: 5px;
  margin-top: 19px;
  @include Tab {
    width: 49%;
  }
  @include DesktopS {
    width: 100%;
    height: 40px;
    margin-bottom: 1%;
  }
  @include Desktop {
    height: 47px;
  }
  @include DesktopXL {
    margin-bottom: 3%;
    height: 67px;
  }
  /*CLOSED DROPDOWNS*/
  &__closed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    background-color: $color-primary;
    border: hidden;
    margin-bottom: 20px;
    cursor: pointer;
    // @include MobileS {
    //   width: 100%;
    // }
    // @include MobileL {
    //   width: 380px;
    // }
    // @include Tab {
    //   width: 100%;
    // }
    @include DesktopS {
      height: 40px;
      
    }
    @include Desktop{
      height: 47px;
    }
   
    @include DesktopXL {
     
      height: 80px;
    }
  }
  /*LARGE DROPDOWNS*/
  &__large {
    display: grid;
    width: 100%;
    height: 30px;
    left: calc(50% - 335px / 2);
    top: calc(50% - 30px / 2 - 15px);
    @include Tab {
      width: 100%;
    }
    @include DesktopS {
      width: 100%;
    }
    @include Desktop {
    }
  }
  /*FLEXBOX DROPDOWNS*/
  &__flexB {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //width: 100%;
  }
  /*TITLE DROPDOWNS*/
  &__title {
    font-size: 13px;
    width: 57px;
    color: #ffffff;
    margin-left: 11px;
    text-align: left;
    line-height: 142.6%;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;

    @include DesktopS {
      font-size: 20px;
      font-weight: 500;
      height: 34px;
      width: 30%;
      left: 18px;
      top: 6px;
      margin-left: 14px;
      line-height: 142.6%;
      display: flex;
      align-items: center;
    }
    @include Desktop {
      font-size: 24px;
    }
    @include DesktopXL {
      font-size: 48px;
    }
  }
  /*SVG CHEVRONS DROPDOWNS*/
  svg {
    height: 100%;
    width: 13px;
    margin-right: 15px;
    color: $color-white;
    @include DesktopS {
      width: 20px;
    }
    @include DesktopXL {
      width: 40px;
      margin-right: 35px;
    }
  }
  /*OPEN DROPDOWNS*/
  &__open {
    border-radius: 5px;
    background-color: $color-primary;
    border: hidden;
    //width: 100%;
    height: 30px;
    margin-bottom: 170px;
    cursor: pointer;

    
    @include DesktopS {
      width: 100%;
      height: 40px;
    }
    @include Desktop {
      height: 47px;
    }

    @include DesktopXL {
      height: 80px;
      margin-bottom: 270px;
    }
    /*OPEN DESCRIPTION DROPDOWNS*/
    &__description {
      top: 30px;
      height: 144px;
      width: 100%;
      background-color: $color-secondary;
      margin-top: -170px;
      z-index: 2;
      border-radius: 0 0 5px 5px;
      

     
      @include DesktopS {
        border-radius: 0 0 10px 10px;
        height: 249px;
      }
      @include DesktopXL {
        margin-top: -270px;
     
      }
    }
    /* OPEN TEXT DROPDOWNS*/
    &__text {
      text-transform: none;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
      list-style: none;
      bottom: -462.62%;
      height: 144px;
      width: 100%;
      padding-top: 3%;
      //height: max-content;
      
      @include DesktopS {
        line-height: 26px;
        height: 156px;
        padding-bottom: 0;
        font-size: 20px;
        padding-left: 16px;
      }
      @include Desktop {
        font-size: 24px;
        height: 156px;
        //padding-top: 20px;
        padding-bottom: 10px;
      }
      @include DesktopXL {
        line-height: 43px;
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
      }
    }
  }
}
