@import '../utils/mixins';
@import '../utils/variables';

/*SINGLELOCATION DETAILS PAGE*/

.singleLocation {
  height: 100%;
  width: 100%;
  left: 20px;
  top: 94px;
  @include MobileS {
    width: 100%;
  }
  @include DesktopS {
    width: 100%;

    height: 77px;
    width: 100%;
    left: 100px;
    top: 573px;
  }
  /*TITLE SINGLELOCATION DETAILS PAGE*/
  &__title {
    height: 18px;
    width: 335px;
    left: 20px;
    top: 364px;

    @include Desktop {
      height: 51px;
      width: 573px;
      height: 77px;
      width: 635px;
      left: 100px;
      top: 573px;
    }
    /*TEXT SINGLELOCATION DETAILS PAGE*/
    &__text {
      font-size: 18px;
      margin-bottom: 10px;
      @include Desktop {
        font-size: 36px;
        margin-bottom: 0;
      }
    }
  }
  /*LOCATION (CITY) SINGLELOCATION DETAILS PAGE*/
  &__location {
    height: 22px;
    width: 323px;
    left: 20px;
    top: 415px;
    font-size: 14px;
    margin-top: 5px;
    @include Desktop {
      font-size: 18px;
      margin-top: 0;
    }
  }
  /*TAGS SINGLELOCATION DETAILS PAGE*/
  &__tags {
    width: 84px;
    height: 18px;
    left: 20px;
    top: 447px;
    margin-top: 5%;
    @include Desktop {
      width: 18%;
    }
  }
  /*RATING (STARS) SINGLELOCATION DETAILS PAGE*/
  &__rating {
    height: 18px;
    width: 98px;
    left: 20px;
    top: 489px;

    @include Desktop {
      height: 36px;
      width: 196px;
      left: 1144px;
      top: 652px;
    }
    > svg {
      @include Desktop {
      }
    }
  }
}
/*HOST SINGLELOCATION DETAILS PAGE*/
.host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 33px;
  width: 135.5px;
  left: 219px;
  top: 481px;
  @include DesktopS {
    height: 64px;
    width: 158.5px;
    left: 209px;
    margin-top: 50px;

    margin-bottom: 10px;
  }
  /*NAME HOST SINGLELOCATION DETAILS PAGE*/
  &__name {
    text-align: right;
    height: 33px;
    width: 78px;
    left: 0px;
    top: 0px;
    font-size: 12px;
    @include Desktop {
      font-size: 18px;
      height: 52px;
      line-height: 26px;
    }
  }
  /*IMG HOST (AVATAR) SINGLELOCATION DETAILS PAGE*/
  > img {
    height: 32px;
    width: 32px;
    left: 103.5px;
    top: 0.5px;
    margin-left: 11px;
    border-radius: 50%;
    background: #c4c4c4;
    @include Desktop {
      height: 64px;
      width: 64px;
    }
  }
}
// .singleLocation-section {
//   @include Desktop {
//     display: flex;
//     height: 101px;
//     width: 1240px;
//     left: 100px;
//     top: 670px;
//     border-radius: 0px;
//   }
// }
.singleLocation-tags-dropdowns {
  width: 335px;
  border-radius: 10px;
  margin-top: 30px;
  @include DesktopS {
    flex-direction: row;

    width: 582px;
    left: 0px;
    top: 0px;
  }
}
.singleLocation-dropdowns {
  display: flex;
  flex-direction: column;
  @include DesktopS {
    flex-direction: row;
    width: 100%;
    margin-top: 8%;
    display: flex;
    gap: 40px;
  }
}
