@import '../utils/variables';
@import '../utils/mixins';
/* STARS */
.star {
  height: 18px;
  width: 28%;
  display: flex;
  padding-left: 0;
  justify-content: space-between;

  @include Tab{
    width: 14%;
    margin-top: 1%;
  }
  @include DesktopS {
    width: 11%;
    margin-top: 1%;
  }
  @include Desktop {
    width: 14%;
  }
  
  &__completed {
    color: $color-primary;
  }
  &__noCompleted {
    color: $color-tertiary;
  }
  /* STARS SVG */
  &__noCompleted,
  &__completed {
    
    > svg {
      height: 15px;
      width: 15px;
      left: 1.5px;
      top: 1.5px;
      @include Desktop {
        height: 30px;
        width: 30px;
        left: 3px;
        top: 3px;
      }
      @include DesktopXL{
        height: 50px;
        width: 50px;
      }
    }
  }
}
