@import './utils/mixins';
@import './utils/variables';
*{
    box-sizing: border-box;
    width: 100%;
}

body{
    font-family: $main-font;
    height: 100vh;
    width: auto;
    font-size: 12px;
    background: #FFFFFF;
    margin: 4%;

    @include Desktop{
       font-size: 18px;
       margin: 0;
    }
    
 }
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h3,
a,
p,
div {
   color: $color-primary;
   }

a{
    cursor: pointer;
}


.flex-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    @include Desktop{
        flex-direction: column-reverse; 
        text-align: right;
        align-items: flex-end;
        margin-top: -115px;
        margin-bottom: 100px;
    }
}