@import '../utils/mixins';

/* BANNER HOME PAGE */
.banner {
  background-color: #000000;
  /*IMAGE URL BACKGROUND BANNER HOME PAGE*/
  background-image: $background-Gradient-Banner,
    url('../../../assets/homeImg.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 111px;
  border-radius: 10px;
  background-size: cover;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-top: 20px;
  @include DesktopS {
    justify-content: center;
    height: 168px;
    top: 171px;
    border-radius: 25px;
  }
  @include Desktop {
    height: 223px;
  }
  @include DesktopXL {
    height: 462px;
  }
  /*TITLE BANNER HOME PAGE*/
  &__title {
    margin-left: 20px;
    line-height: 24px;
    font-size: 24px;
    font-weight: 500;
    height: 48px;
    width: 66%;
    @include MobileS {
      width: 71%;
    }
    @include MobileL {
      width: 59%;
    }
    @include Tab {
      width: 51%;
      height: auto;
      width: auto;
      vertical-align: center;
      margin-left: 25%;
    }
    @include DesktopS {
      height: auto;
      width: auto;
      vertical-align: center;
      margin-left: 0;
      font-size: 35px;
    }
    @include Desktop {
      height: auto;
      width: 56%;
      left: 373px;
      top: 249px;
      font-size: 48px;
      vertical-align: center;
    }
    @include DesktopXL {
      font-size: 78px;
    }
  }
}

/* BANNER ABOUT PAGE */
.bannerAbout {
  margin-top: 17px;
  width: 100%;
  height: 223px;
  background: #f7f7f7;
  border-radius: 10px;
  background-image: $background-Gradient-Banner,
    url(../../../assets/aproposImg.png);
  background-position: right;
  @include Tab {
    width: 90%;
    background-position: left;
  }
  @include DesktopS {
    margin-top: 0;
    width: 100%;
    border-radius: 25px;
    height: 223px;
    margin-bottom: 1%;
  }
  @include DesktopXL {
    margin-bottom: 3%;
    height: 423px;
  }
  /*IMAGE BANNER ABOUT PAGE*/
  .backgroundImgBannerAbout {
    width: 100%;
    height: 100%;
    background: #000000;
    mix-blend-mode: multiply;
    border-radius: 25px;
    background-size: cover;
  }
}
