@import '../utils/mixins';

/* BANNER HOME PAGE */
.banner {
  background-color: #000000;
  /*IMAGE URL BACKGROUND BANNER HOME PAGE*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../../assets/homeImg.png');
  background-position: center;
  display: table-cell; /* comportement visuel de cellule */
  vertical-align: middle;
  width: 335px;
  height: 111px;
  text-align: left;
  border-radius: 10px;
  background-size: cover;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-top: 20px;
  @include MobileS{
    width: 300px;
  }
  @include MobileL {
    width: 375px;
  }
  @include Tab{
    width: 690px;
  }
  @include DesktopS {
    justify-content: center;
    height: 168px;
    width: 920px;
    left: 100px;
    top: 171px;
    border-radius: 25px;
  }
  @include Desktop {
    height: 223px;
    width: 1240px;
    
  }
  @include DesktopXL {
    width: 2305px;
    height: 462px;
  }
  /*TITLE BANNER HOME PAGE*/
  &__title {
    margin-left: 20px;
    line-height: 24px;
    font-size: 24px;
    font-weight: 500;
    height: 48px;
    width: 213px;
    left: 36px;
    top: 114px;
    @include Desktop {
      height: auto;
      width: auto;
      left: 373px;
      top: 249px;
      font-size: 48px;
      vertical-align: center;
    }
    @include DesktopXL {
      font-size: 68px;
    }
  }
}

/* BANNER ABOUT PAGE */
.bannerAbout {
  margin-top: 17px;
  width: 336px;
  height: 223px;
  background: #f7f7f7;
  border-radius: 25px;
  > h1 {
    display: none;
  }
  @include MobileS{
    width: 310px;
  }
  @include MobileL{
    width: 90%;
  }
  @include Tab{
    width: 90%;
  }

  @include DesktopS {
    width: 920px;
    border-radius: 25px;
    height: 223px;
  }
  @include Desktop {
    width: 1240px;

   
  }
  @include DesktopXL{
    width: 2305px;
    height: 362px;
  }
  /*IMAGE BANNER ABOUT PAGE*/
  > img {
    object-position: 50%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%) saturate(140%);
    @include DesktopS {
        border-radius: 25px;
    }
    
  }
}
