@import '../utils/mixins';

/* HEADER  */
.header {
  display: flex;
  align-items: center;
  height: 47px;
  width: 335px;
  //margin-left: 20px;
  margin-top: 20px;
  border-radius: 0px;
  @include MobileS {
   
    width: 290px;
  }
  @include MobileL {
    width: 385px;
  }
  @include Tab {
    width: 90%;
  }
  @include DesktopS {
    width: 905px;
    height: 100%;
    // left: 40px;
  }
  @include Desktop {
    width: 1240px;
    //left: 80px;

    margin-top: 40px;
    height: 68px;
  }
  @include DesktopXL {
    width: 2305px;
    //left: 121px;
    height: 98px;
  }

  /* .LOGO */
  &__logo {
    width: 150px;
    height: 47px;
    @include DesktopS {
      height: 0;
      > img {
        width: 210px;
      }
    }
    @include Desktop {
      width: 210px;
      height: 68px;
      > img {
        width: 210px;
      }
    }
    @include DesktopXL {
      height: 98px;
      width: 310px;
      > img {
        width: 310px;
      }
    }
  }
  /* NAVBAR */
  &__nav {
    position: absolute;
    height: 17px;
    width: 167px;
    left: 200px;
    display: flex;
    text-align: right;
    //margin-top: 15px;
    @include MobileS {
      left: 170px;
    }
    @include MobileL {
      left: 255px;
    }
    @include Tab {
      left: 75%;
    }

    @include DesktopS {
      height: 34px;
      width: 224px;
      left: 745px;
      top: 40px;
      margin-left: 0;
      margin-top: 0;
    }
    @include Desktop {
      height: 34px;
      width: 295px;
      //left: 1040px;
      left: 72.5%;
      top: 60px;
    }
    @include DesktopXL {
      height: 50px;
      left: 75%;
      width: 487px;
    }
  }
  /* LINKS === HOME * ABOUT */
}

ul {
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  color: $color-primary;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-inline-size: fit-content;

  @include DesktopS {
    font-size: 20px;
    text-transform: none;
  }
  @include Desktop {
    font-size: 24px;
  }
  @include DesktopXL {
    font-size: 40px;
  }
}
