@import '../utils/mixins';

.gallery {
  height: 805px;
  width: 335px;
  left: 21px;
  top: 216px;
  border-radius: 0px;

  @include Desktop {
    height: 829px;
    width: 1240px;

    &__background {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
     
      padding: 10px 50px 10px 50px;
      width: 1240px;
      background: $color-secondary;
      border-radius: 25px;
      top: 283px;
    }
  }
}
