@import '../utils/mixins';


/* _Header-m */
    .header{
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        width: auto;
        height: 47px;
        @include Desktop{
            height: 68px;
            width: auto;
            left: 100px;
            top: 40px;
            margin-left: 100px;
            margin-right: 100px;
            margin-top: 40px;
            
            }
        
    
    /* .LOGO */
        &__logo{
           
                width: 150px;
                height: 47px;
                @include Desktop{
                    width: 210px;
                    height: 68px;
                }
                
            
        }
    /* _NAV */
        &__nav{
            position: absolute;
            height: 17px;
            width: 40%;
            left: 220px;
            top: 18px;
            display: flex;
            align-items: flex-end;
            text-align: right;
            margin-top: 15px;
            margin-left: -3%;
            
            @include Desktop{
                height: 34px;
                width: 23%;
                left: 900px;
                top: 17px;
                margin-top: 40px;
                margin-left: 100px;
            }
           
        
        }
    /* ACCUEIL * A PROPOS */
        &__link{
            font-size: 12px;
            text-transform: uppercase;
            color: $color-primary;
            
           
            cursor: pointer;
            color: $color-primary;
                @include Desktop{
                    font-size: 24px;
                    text-transform: none;
                

                }
        
        }
}
     
   
    
    /* Vector */
    .vectorK{
        position: absolute;
        left: 0%;
        right: 88.82%;
        top: 0%;
        bottom: 8.45%;
        height: 43px
    }
    /* Group */
    .Group{
        position: absolute;
        left: 12.39%;
        right: 78.13%;
        top: 21.53%;
        bottom: 0%;
    }
   
    
    
    /* Vector */
    .vectorS{
        position: absolute;
        left: 24.45%;
        right: 67.44%;
        top: 21.53%;
        bottom: 7.89%;
    }
   
    /* Vector */
    .vectorA{
        position: absolute;
        left: 34.87%;
        right: 56.72%;
        top: 21.25%;
        bottom: 7.9%;
    
    
    }
    

    
    
    
    
    /* Vector */
    /*
    position: absolute;
    left: 18.84%;
    right: 80.06%;
    top: 68.66%;
    bottom: 8.17%;
    
    background: #FF6060;
    
    
    /* Vector */
    /*
    position: absolute;
    left: 12.39%;
    right: 78.13%;
    top: 21.53%;
    bottom: 0%;
    
    background: #FF6060;
    
    
    /* _NAV */
    /*
    position: absolute;
    left: 58.21%;
    right: 0%;
    top: 38.3%;
    bottom: 25.53%;
    
    
    
    /* A PROPOS */
    /*
    position: absolute;
    left: 78.81%;
    right: 0%;
    top: 38.3%;
    bottom: 25.53%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 142.6%;
    /* or 17px */
    /*
    display: flex;
    align-items: flex-end;
    text-align: right;
    
    color: #FF6060;
    
    
    
    /* ACCUEIL */
    /*
    position: absolute;
    left: 58.21%;
    right: 24.18%;
    top: 38.3%;
    bottom: 25.53%;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 142.6%;
    /* or 17px *//*
    display: flex;
    align-items: flex-end;
    text-align: right;
    text-decoration-line: underline;
    color: #FF6060;
    
    
    */

