@import '../utils/mixins';

/* _Header-m */
.header {
   
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  width: 335px;
  height: 47px;
  
  @include MobileL{
    width: 375px;
  }
  @include Desktop {
    margin: 0;
    height: 68px;
    width: 1240px;
    left: 125px;
    top: 40px;
    position: absolute;
  }
  @include DesktopXL {
    width: 2360px;
    left: 121px;
    height: 98px;
  }

  /* .LOGO */
  &__logo {
    width: 150px;
    height: 47px;
    @include Desktop {
      width: 210px;
      height: 68px;
      >img{
        width: 210px;
      }
    }
    @include DesktopXL {
      height: 98px;
      width: 310px;
      > img {
        width: 310px;
      }
    }
  }
  /* _NAV */
  &__nav {
    position: absolute;
    height: 17px;
    width: 140px;
    left: 222px;
    top: 18px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: -3%;
    @include MobileL{
        left: 270px;
    }

    @include Desktop {
        height: 34px;
        width: 244px;
        left: 978px;
        top: 17px;
        margin-left: 0;
        margin-top: 0;
    }
    @include DesktopXL {
      height: 50px;
      left: 1965px;
    }
  }
  /* ACCUEIL * A PROPOS */
  &__link {
    font-size: 12px;
    text-transform: uppercase;
    color: $color-primary;
    width: 59px;

    cursor: pointer;
    color: $color-primary;
    @include Desktop {
      font-size: 24px;
      text-transform: none;
     
    }
    @include DesktopXL {
      font-size: 34px;
    }
    &__accueil {
    margin-right: 13px;
      @include Desktop{
        margin-right: 57px;
      }  
      @include DesktopXL{
        margin-right: 100px;
      }
    }
    &__apropos {
      text-decoration: none;
      min-inline-size: fit-content;
    }
  }
}
