@import './components/card';
@import './components/carousel';
@import './components/collapse';
@import './components/singleLocation';
@import './components/stars';
@import './components/tags';
@import './layouts/banner';
@import './components/cardsContainer';
@import './layouts/footer';
@import './layouts/header';
@import './pages/about';
@import './pages/details';
@import './pages/error';
@import './pages/home';
@import './utils/mixins';
@import './utils/variables';
@import './base/normes';

h3,
a,
p,
div {
  color: $color-primary;
}
p {
  line-height: 142.6%;
}
a {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div {
  margin: 0;
}

ul li {
  padding: 0 10px;
  font-weight: bold;
  min-inline-size: fit-content;
  @include DesktopS {
    padding: 0 20px;
  }
  @include Desktop {
    padding: 0 30px;
  }
  @include DesktopXL {
    padding: 0 50px;
  }
}

ul li a {
  width: 59px;
  text-decoration: none;
}

.active {
  color: $color-primary;
}
.active a {
  text-decoration: underline;
  color: $color-primary;
}
br {
  @include DesktopS {
    display: none;
  }
}
