@import './components/card';
@import './components/carousel';
@import './components/collapse';
@import './components/equipments';
@import './components/gallery';
@import './components/singleLocation';
@import './components/stars';
@import './components/tags';
@import './layouts/banner';
@import './layouts/cardsContainer';
@import'./layouts/footer';
@import './layouts/header';
@import './pages/about';
@import './pages/details';
@import './pages/error';
@import './pages/home';
@import './utils/mixins';
@import './utils/variables';

* {
  box-sizing: border-box;
  font-family: 'Montserrat', Helvetica, sans-serif;

  padding: 0;
  margin: 0;
}
#root {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

body,
html {
  margin: 0 auto;
  font-family: $main-font;
  position: relative;
  max-width: 100%;
  align-content: center;
}
main {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include MobileS {
    margin-left: 30px;
  }
  @include Desktop {
    margin-left: 0;
    margin-right: 0;
  }
  @include DesktopXL {
    margin-left: 0;
    margin-right: 0;
  }
}

h3,
a,
p,
div {
  color: $color-primary;
}

a {
  cursor: pointer;
}

.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  @include DesktopS {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -115px;
  }
  @include Desktop {
    margin-bottom: 100px;
  }
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div {
  margin: 0;
}

ul li {
  padding: 0 10px;
  font-weight: bold;
  min-inline-size: fit-content;
  @include DesktopS {
    padding: 0 20px;
  }
  @include Desktop {
    padding: 0 30px;
  }
  @include DesktopXL {
    padding: 0 50px;
  }
}

ul li a {
  width: 59px;
  text-decoration: none;
}

.active {
  color: $color-primary;
}
.active a {
  text-decoration: underline;
  color: $color-primary;
}
